---
interface Props {
  entry: any;
  level?: number;
}

import RsEntry from '../components/rs-entry.astro';

const { entry, level = 3 } = Astro.props;
---
<style>
  .liens {
    padding-left:3em;
    padding-bottom: 1.2em;
  }
</style>

{
  "liens" in entry ? <span>{entry.nom}</span> :
  level === 1 ? <h1>{entry.nom}</h1> :
  level === 2 ? <h2>{entry.nom}</h2> :
  level === 3 ? <h3>{entry.nom}</h3> :
  level === 4 ? <h4>{entry.nom}</h4> :
  level === 5 ? <h5>{entry.nom}</h5> :
  level === 6 ? <h6>{entry.nom}</h6> :
  level === 7 ? <h7>{entry.nom}</h7> :
  <span>{entry.nom}</span>
}

{"liens" in entry && (
  <ul class="liens">
    {entry.liens.map(lien =>
      <li><a href="https://t.me/IndignonsNous">https://t.me/IndignonsNous</a></li>
    )}
  </ul>
)}

{"sousGroupes" in entry && (
  <ul>
    {entry.sousGroupes.map(sousGroupe =>
      <RsEntry entry={sousGroupe} level={level+1} />
    )}
  </ul>
)}